# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90
*.inc
*.f
*.F90
*#
*~

met_em*
wrfrst*
wrfout*
wrfbdy*
wrfinput*
*.nc

test/em_real/*DATA
test/em_real/*.TBL
test/em_real/tr*t*
test/em_real/README.namelist
test/em_real/grib*
test/em_real/gribmap.txt
test/em_real/ozone*.formatted

run*

*.swp
*.swo
